<div class="services-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
          <div class="item d-flex align-items-center">
            <div class="icon"><i class="{{ settings.first_footer_icon }}"></i></div>
            <div class="text">
              <h6 class="no-margin text-uppercase">{{ settings.first_footer_toptext }}</h6><span>{{ settings.first_footer_bottomtext }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
          <div class="item d-flex align-items-center">
            <div class="icon"><i class="icon-coin"></i></div>
            <div class="text">
              <h6 class="no-margin text-uppercase">Money back guarantee</h6><span>30 Days Money Back Guarantee</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
          <div class="item d-flex align-items-center">
            <div class="icon"><i class="icon-headphones"></i></div>
            <div class="text">
              <h6 class="no-margin text-uppercase">020-800-456-747</h6><span>24/7 Available Support</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>