
<section style="background: url({{section.settings.background_image | img_url: '2048x'}})" class="divider">
    <div class="container"> 
      <div class="row">
        <div class="col-lg-6">
          <p>Old Collection</p>
          <h2 class="h1 text-uppercase no-margin">Huge Sales</h2>
          <p>At our outlet stores</p><a href="#" class="btn btn-template wide shop-now">Shop Now<i class="icon-bag"></i></a>
        </div>
      </div>
    </div>
  </section>


  {% schema %}
  {
    "name": "Divider",
    "settings": [
      {
            "id": "background_image",
            "type": "image_picker",
            "label": "Background Image"
      }
    ]
  }
{% endschema %}